
<button class="btn btn-primary" data-toggle="modal" data-target="#Modal1">
    Yeni Hakkımızda Yazısı Gir
</button>

<div id="Modal1" class="modal">
    <div class="Modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    Hakkımızda Metni Girin
                </div>
            </div>
            <form action="/About/AddAbout/" method="post" style="position: center;  text-align: center; ">

                <div class="modal-body" style="position:center">
                    <label>Hakkımda Metin 1</label>
                    <input type="text" name="AboutDetails1" class="form-control" />
                    <br />
                    <label>Hakkımda Metin 2</label>
                    <input type="text" name="AboutDetails2" class="form-control" />
                    <br />
                    <label>Hakkımda Görsel 1</label>
                    <input type="text" name="AboutImage1" class="form-control" />
                    <br />
                    <label>Hakkımda Görsel 2</label>
                    <input type="text" name="AboutImage2" class="form-control" />
                    <br />
                    <button class="btn btn-primary">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>