
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h3>Mvc Tablo - Kategori</h3>
<br />
<table class="table table-hover table-bordered table-striped">
    <tr>
        <th>Id</th>
        <th>Kategori Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
        <th>Güncelle</th>
    </tr>
    <tr>
        <th>1</th>
        <td>Eğitim</td>
        <td>randomrandomrandomrandom</td>
        <td>True</td>
        <td><button class="btn btn-primary">Güncelle</button></td>
    </tr>
    <tr>
        <th>2</th>
        <td>Spor</td>
        <td>randomrandomrandomrandom</td>
        <td>True</td>
        <td><button class="btn btn-primary">Güncelle</button></td>
    </tr>
    <tr>
        <th>3</th>
        <td>Kitap</td>
        <td>randomrandomrandomrandom</td>
        <td>True</td>
        <td><button class="btn btn-primary">Güncelle</button></td>
    </tr>
    <tr>
        <th>4</th>
        <td>Film</td>
        <td>randomrandomrandomrandom</td>
        <td>True</td>
        <td><button class="btn btn-primary">Güncelle</button></td>
    </tr>
    <tr>
        <th>5</th>
        <td>Dizi</td>
        <td>randomrandomrandomrandom</td>
        <td>True</td>
        <td><button class="btn btn-primary">Güncelle</button></td>
    </tr>

</table>
<button class="btn btn-success">Yeni Kategori</button>
<button class="btn btn-warning">Kategori Listesi</button>
<button class="btn btn-danger">Kategori Açıklamaları</button>
