@model EntityLayer.Concrete.Content
@{
    ViewBag.Title = "AddContent";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}
<br />
<h2>Başlığa Yazı Ekle</h2>
<br />
                    @*NEREYE GİDECEK - GİDECEĞİ YER NEREDE - NE ZAMAN GİDECEK*@
@using (Html.BeginForm("AddContent", "WriterPanelContent", FormMethod.Post))
{
<div class="form-group">
    <input   type="hidden" name="HeadingID" value="@ViewBag.d" />
    <br />
    @Html.Label("İçeriğiniz")
    @Html.TextAreaFor(x => x.ContentValue, 10, 30, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.ContentValue) 
    <br />

    <button class="btn btn-primary">Kaydet</button>

</div>
}

